---
// Tile component - layout wrapper
---

<div class="xl:flex xl:items-stretch xl:justify-items-stretch xl:min-w-max">
  <div class="xl:flex xl:items-stretch xl:justify-items-stretch">
    <slot />
  </div>
</div>
