---
import { graphql, readFragment, type FragmentOf } from '@/lib/graphql';
import { Image } from '@datocms/astro';

export const WorkFragment = graphql(/* GraphQL */ `
  fragment WorkFragment on WorkRecord {
    id
    coverImage {
      responsiveImage(imgixParams: { auto: format, h: 1400 }) {
        src
        srcSet
        base64
        width
        height
        alt
      }
    }
  }
`);

interface Props {
  work: FragmentOf<typeof WorkFragment>;
  total: number;
}

const { work, total } = Astro.props;

const unmaskedWork = readFragment(WorkFragment, work);
---

<div class="relative" style="counter-increment: work-counter;">
  <div class="xl:px-10 xl:h-screen">
    <Image
      imgClass="xl:w-auto xl:h-screen"
      imgStyle={{ height: null }}
      data={unmaskedWork.coverImage.responsiveImage}
    />
  </div>
  <div
    class="hidden xl:flex absolute z-10 bottom-[250px] left-0 -rotate-90 origin-top-left items-center text-black"
  >
    <div class="before:content-[counter(work-counter)]"></div>
    <div class="h-[2px] w-[100px] mx-2 bg-black"></div>
    <div>{total}</div>
  </div>
</div>
